@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IE:wght@100..400&display=swap');


.sriracha-regular {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}


.playwrite {
  font-family: "Playwrite IE", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}




* {
    margin: 0px;
    padding: 0px ;
}

html, body {
    min-height: 100vh ;
    background-color: rgb(229, 243, 255);
}

header {
  background-color: black;
  color: white;
  text-align: center;
  font-family: "sriracha-regular";
}

header > h1 {
    padding-top: 50px;
    padding-bottom: 10px;
    font-variant: small-caps;
    font-family: "sriracha-regular",cursive;
    font-size: 9vh;

}
   
 header > p {
    padding-bottom: 45px;
    font-family:"playwrite-ie";
     font-family: "sriracha-regular",cursive;
}

 header a,footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
 }

 header a:hover,footer a:hover {
    text-decoration: underline;
 }

 section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 30px;
    padding-left: 30px;
   font-family:"playwrite",cursive;
   font-size: 4vh;
 }
  section > p {
   padding-bottom:30px;
   padding: 20px;
  }


 section.normal {
    background-color: white;
    color:rgb(55, 55, 55) ;
 }

 section.imagem {
    background-color: rgb(64, 62, 62);
    color: white;
    background-size: cover;
    background-attachment: fixed;
   
 }

 section#img01 {
    background-image: url('imagens/background001.jpg');
    background-repeat: no-repeat;
 }

 section#img02 {
      background-image: url('imagens/background002.jpg');
 }

 section.imagem > p {
   display: inline-block;
    background-color: rgba(88, 88, 88, 0);
    width: 400px ;
    text-shadow: 2px 2px 2px black;

 }

 footer {
   background-color: black;
   color: white;
   text-align: center;
   padding: 15px;
 }