@charset "UTF-8";

/* estilo para impressora */

* {
    margin: 10px;
    padding: 1opx;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    line-height: 24px;
}

menu {
    list-style-type: none;
    display: none;
}

article {
    width: 100%;
}

article::after {
    content: 'esse artigo foi feito através do www.cursoemvideo.com';
}